{# empty Twig template #}     
<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title ">
            <strong>Gestion des universités...</strong>
        </h3>
       <span id="img-loading"></span>
           
    </div>
    <div class="panel-body">
        
    <form class="form-inline pull-left" role="form" method="POST" action="#{{ path("skylink_ebook_ges_user_login") }}" >
            <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter code université">
  </div>
           <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Nom complet université ">
  </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>&nbsp;Enregistrer</button>
        </form>
            
            <form class="form-inline pull-right" role="form" method="POST" action="#{{ path("skylink_ebook_ges_user_login") }}" >
           
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Code université">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span>&nbsp;OK</button>
                </span>
            </div><!-- /input-group -->  
          
        </form>
    </div>
    <div class="table-responsive">
        <!-- Table -->
        <table class="table table-bordered table-condensed table-striped" id="ronde-table-planning">
	    <thead>
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center">Université / Organisation</th>
							
                                                        <th class="text-center">Actions</th>
							
						</tr>
            </thead>
	    <tbody>
						<tr>
							<td>UNIKIN</td>
							<td>Université de Kinshasa</td>
							
                                                        
                                                            <td class="text-center">
                        <div class="btn-group btn-group-sm">
                            <a href="#'.$uneRonde->getId().'" class="btn btn-info  btn-ronde-start" role="button">Supprimer</a>
                            <a href="#'.$uneRonde->getId().'" class="btn btn-warning  btn-ronde-end" role="button">Modifier</a>
                        </div>
                        </td>
                                                    


						</tr>
						<tr>
							<td>ISC/KIN</td>
							<td>Institut supérieur de commerce de kinshasa</td>
							
	<td class="text-center">
                        <div class="btn-group btn-group-sm">
                            <a href="#'.$uneRonde->getId().'" class="btn btn-info  btn-ronde-start" role="button">Supprimer</a>
                            <a href="#'.$uneRonde->getId().'" class="btn btn-warning  btn-ronde-end" role="button">Modifier</a>
                        </div>
                        </td>
                        </tr>	
            </tbody>
        </table>
    </div>
    
</div>

