           <div class="container">
			<div class="row">
			
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>Info</h3>
					
                                        <p><a href="code.php">Acheter le code</a></p>
                                        <p><a href="#">Foire aux questions</a> </p>
                                        <p><a href="#">staff technique</a></p>
                                        <p><a href="#">A propos de skylink</a></p>
                                                    
				</div> 

				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>Contacts</h3>
					<p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;32 universit&eacute; righini - Lemba</p>
					<p><span class="glyphicon glyphicon-phone"></span>&nbsp;Phone: +243993536198 / +33753836633</p>
					<p><span class="glyphicon glyphicon-print"></span>&nbsp;Cell phone: +243898646282</p>
					<p><span class="glyphicon glyphicon-envelope"></span>&nbsp;Email: info@skylink.cd</p>
					<p><span class="glyphicon glyphicon-globe"></span>&nbsp;Web: http://www.skylink.cd</p>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>Newsletter</h3>
					<p>Write you email to subscribe to our Newsletter service. Thanks!</p>
					<form class="form-inline" role="form">
						<div class="input-group">
                                                     <input type="email" class="form-control" placeholder="votre email">
                                                     <span class="input-group-btn">
                                                          <button class="btn btn-primary" type="button">Subscribe</button>
                                                     </span>
                                                </div><!-- /input-group -->
					</form>
				</div>
			</div>

			<div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12"><br>
					<p>&copy; Copyright 2014.&nbsp;
                                            <a href="#">Privacy</a>&nbsp;&amp;&nbsp;<a href="#">Terms and Conditions</a>
                                        
                                            <a class="pull-right" href="http://www.skylink.cd">Designed by SkyLink</a>
                                        </p>
				</div>
				
			</div>
            </div><!--/.container-->